body {
    background-color: lavender;
}

p.welcomeMsg{
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
}

p.loginError{
    text-align: center;
}

p span, span{
    display: inline-block;
    background-color: lavender;
    border-radius: 10px;
    border: solid white 3px;
    padding: 10px;
}


button{
    background-color: lavender;
    border: solid white 3px;
    padding: 10px;
    border-radius: 10px;
    font-size: 40px;
}

button:hover{
    background-color: white;
}
.wrapper {
    text-align: center;
    margin-top: 2%;

}

table {
    border-spacing: 0;
    border-collapse: separate;
    border: solid white 3px;
    border-radius: 10px;
    background-color: lavender;
    overflow: hidden;
    padding: 20px;
    font-size: 25px;
}

input {
    border-radius: 5px;
}

table td,
table tr {
    border: solid black 0;
}

.tableWrapper{
    text-align: center;
}