<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Log In</title>
</head>
<body>
<form th:method="POST" th:action="@{/users/new}" th:text="${email}">
    <div class="tableWrapper">
        <table border="1" align="center">
            <tr>
                <td>Email</td>
                <td><input type="text" th:field="" id="firstName"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" th:field=""></td>
            </tr>
        </table>
    </div>
    <div class="wrapper">
        <button th:href="/">Return</button>
        <button type="submit">Sign Up</button>
    </div>
</form>
</body>
</html>