<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css" />
</head>
<body>
<form th:method="POST" th:action="@{/users/in}" th:object="${appUser}">
    <p class="loginError"><span></span></p> <!--add little circle above the input table-->
    <div class="tableWrapper">
        <table border="1" align="center">
            <tr>
                <td>Email</td>
                <td><input type="text" th:field="*{email}" id="email"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" th:field="*{password}" id="password"> </td>
            </tr>
        </table>
    </div>
    <p class="loginError"><span th:text="${error?}"></span></p>
    <div class="wrapper">
        <!--<button th:href="/">Return</button> -->
        <button type="submit">Log In</button>
    </div>
</form>
</body>
</html>