<!DOCTYPE html>
<html lang="en"  xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<p></p>
<form th:method="POST" th:action="@{/users/newUser}" th:object="${appuserdto}">
    <table border="1">
        <tr>
            <td>First name</td>
            <td><input type="text" th:field="*{firstName}"></td>
        </tr>
        <tr>
            <td>Second name</td>
            <td><input type="text" th:field="*{secondName}"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" th:field="*{password}"></td>
        </tr>
        <tr>
            <td>Matching password</td>
            <td><input type="password" th:field="matchingPassword"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="email" th:field="*{email}"></td>
        </tr>
    </table>
    <button type="submit">Save</button>
</form>
</body>
</html>