<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css" />
</head>
<body>
<p class="welcomeMsg"><span>Welcome!</span></p>
<form th:method="POST" th:action="@{/users/new}" th:object="${appuserdto}">
    <div class="tableWrapper">
    <table border="1" align="center">
        <tr>
            <td>First name</td>
            <td><input type="text" th:field="*{firstName}" id="firstName"></td>
        </tr>
        <tr>
            <td>Second name</td>
            <td><input type="text" th:field="*{secondName}" id="secondName"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" th:field="*{password}"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="email" th:field="*{email}"></td>
        </tr>
    </table>
    </div>
    <div class="wrapper">
        <!-- <button th:href="/index">Return</button> -->
        <button type="submit">Sign Up</button>
    </div>
</form>
</body>
</html>